version: "3.9"

services:
  nuxt:
    container_name: nuxt-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NITRO_PORT=3000
      - NITRO_HOST=0.0.0.0
