@import "./main.css";

@layer base {
  html {
    font-size: 12px;
  }
  body {
    font-size: 12px;
  }
}

.btn-info {
    @apply px-2 py-2 bg-gray-300/90 text-gray-800 rounded-full cursor-pointer min-w-20;
}

.btn-primary {
    @apply px-2 py-2 bg-indigo-700/90 text-gray-200 rounded-full cursor-pointer min-w-20;
}
.btn-secondary {
    @apply px-2 py-2 bg-amber-600/90 text-gray-200 rounded-full cursor-pointer min-w-20;
}

button {
    @apply cursor-pointer;
}

:root {
    --share-bg1: #ffc310eb;
    --share-bg2: #25d7ffeb;
}