@import "tailwindcss";

html, body, #__nuxt, #__layout {
  height: 100%;
}


.font-khmer {
  font-family: 'Playfair Display', Georgia, serif;
}

.font-moul {
  font-family: "Moul", serif !important;
}

.font-serif {
  font-family: "Pacifico", cursive;
  font-weight: 200;
}

.font-sans {
  font-family: 'Inter', 'Noto Serif Khmer', system-ui, sans-serif;
}

.font-imperial {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}